.app {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #06064f;
    --primary-color: #032485;
    --secondary-color: #0449e0;
    --inverted-primary-color: #049604;
    --inverted-secondary-color: #04ff04;
}
